<p><%= notice %></p>
<h1>投稿一覧</h1>
<% @posts.reverse_each do |post| %>
<p>タイトル：<%= post.title %></p>
<p>本文：<%= post.content %></p>
<p>投稿写真：</p>
<%= link_to "編集", edit_post_path(post.id) %>
<%= link_to '削除', post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？" } %>
<br>
<% end %>
<%= link_to "投稿する", new_post_path %>
