<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <%= notice %><%= alert %>
    <h1>投稿一覧</h1>
    <%= link_to "投稿する", new_post_path, class: 'btn btn-default' %>
    <br><br>
    <% @posts.reverse_each do |post| %>
    <div class="row">
    <!-- <p><strong><%= post.title %></strong></p> -->
    <!-- <p><%= post.content %></p>/> -->
    <p><%= image_tag post.avatar %></p>
    <%= link_to "編集", edit_post_path(post.id), class: 'btn btn-default btn-sm btn-success' %>
    <%= link_to '削除', post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？" }, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
